<div class="jumbotron">
  <h1 class="display-4">Asset</h1>
 <p>
  <strong>Place:</strong>
  <%= @map_asset.place %>
</p>
<p>
  <strong>Address:</strong>
  <%= @map_asset.address %>
</p>
<p>
  <strong>Category:</strong>
  <%= @map_asset.category %>
</p>
<p>
  <strong>Review:</strong>
  <%= @map_asset.review %>
</p>
  <hr class="my-4">
  <%= link_to('New Story', new_user_map_asset_story_path(@map_asset), class: 'btn btn-primary btn-lg mb-4', data: { bs_toggle: 'modal', bs_target: '#newStoryModal', remote: true }) %>
</div>

<div class="modal fade" id="newStoryModal" tabindex="-1" aria-labelledby="newStoryModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newStoryModalLabel"> Story </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id='newStoryForm'>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="showStoryModal" tabindex="-1" aria-labelledby="showStoryModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="showStoryModalLabel"> Story </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id='showStoryForm'>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editStoryModal" tabindex="-1" aria-labelledby="editStoryModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editStoryModalLabel"> Story </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id='editStoryForm'>
      </div>
    </div>
  </div>
</div>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th class="ps-4">Place</th>
      <th class="ps-4">Address</th>
      <th class="ps-4">Category</th>
      <th class="ps-4">Review</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody id="storyTable">
    <% @story.each do |story| %>
      <%= render('stories/story_records', story: story)%>
    <% end %>
  </tbody>
</table>
