<tr id="storyRow_<%= story.id %>">
  <td><%= story.place %></td>
  <td><%= story.address %></td>
  <td><%= story.category %></td>
  <td><%= story.review %></td>
  <td class="story_record_star" data-score = '<%= story.rate %>'></td>
</tr>
